{% load static %}
<!-- FAVICONS -->
<link rel="apple-touch-icon" sizes="144x144" href="{% static '/apple-touch-icon.png' %}">
<link rel="shortcut icon" href="{% static '/favicon.ico' %}">
<meta name="theme-color" content="#3063A0">
<!-- End FAVICONS -->

<!-- GOOGLE FONT -->
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet">
<!-- End GOOGLE FONT -->

<!-- BEGIN PLUGINS STYLES -->
<link rel="stylesheet" href="{% static '/vendor/open-iconic/css/open-iconic-bootstrap.min.css' %}">
{% comment %}<link rel="stylesheet" href="{% static '/vendor/fontawesome/css/all.min.css' %}">{% endcomment %}
<link rel="stylesheet" href="{% static '/vendor/fontawesome_6.2.1/css/all.min.css' %}">
<link rel="stylesheet" href="{% static '/vendor/datatables/extensions/buttons/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static '/vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="{% static '/vendor/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static '/vendor/flatpickr/flatpickr.min.css' %}">
<!-- END PLUGINS STYLES -->

<!-- BEGIN THEME STYLES -->
<link rel="stylesheet" href="{% static '/stylesheets/theme.min.css' %}" data-skin="default">
<link rel="stylesheet" href="{% static '/stylesheets/theme-dark.min.css' %}" data-skin="dark">
<link rel="stylesheet" href="{% static '/stylesheets/custom.css' %}" data-skin="default">
<link rel="stylesheet" href="{% static '/stylesheets/custom-dark.css' %}" data-skin="dark">

<!-- START THEME STYLES -->
<script>
  let skin = localStorage.getItem('skin') || 'default';
  let isCompact = JSON.parse(localStorage.getItem('hasCompactMenu'));
  let disabledSkinStylesheet = document.querySelectorAll('link[data-skin]:not([data-skin="' + skin + '"])');
  // Disable unused skin immediately
  disabledSkinStylesheet.forEach(function (e) {
    e.setAttribute('rel', '');
    e.setAttribute('disabled', true);
  });
  // add flag class to html immediately
  if (isCompact == true) document.querySelector('html').classList.add('preparing-compact-menu');
</script>
<!-- END THEME STYLES -->