{% extends 'base.html' %}
{% load static %}
{% block extraheader %}
  <style>
    .user-avatar audio, .user-avatar canvas, .user-avatar img, .user-avatar video {
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: center;
      object-position: center;
      background: black;
    }
  </style>
{% endblock %}
{% block body %}
  <main class="app-main">
    <div class="wrapper">
      <div class="page">
        <div class="page-inner">
          <!-- .page-title-bar -->
          <header class="page-title-bar">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                  <a href="#"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Vinilos</a>
                </li>
              </ol>
            </nav>
            <div class="d-flex justify-content-between">
              <h1 class="page-title"> Artistas </h1>
              <div class="btn-toolbar">
                <a type="button" class="btn btn-primary" href="{% url 'create_artist' %}"><i class="fa-solid fa-plus mr-2"></i>Agregar artista</a>
              </div>
            </div>
            <p class="text-muted"> Create amazing media rich boxes with unlimited style options. </p>
          </header><!-- /.page-title-bar -->
          <!-- .page-section -->
          <div class="page-section">
            <div class="masonry-layout" style="position: relative; height: 922.094px;">
              {% for art in artists %}
                <!-- .masonry-item -->
                <div class="masonry-item col-lg-2">
                <!-- .card -->
                <div class="card card-fluid">
                  <!-- .card-body -->
                  <div class="card-body text-center">
                    <div class="d-flex justify-content-end">
                      <a href="{% url 'delete_artist' pk=art.pk %}" class="close">×</a>
                    </div>
                    <!-- .user-avatar -->
                    <a href="#" class="user-avatar user-avatar-xxl my-3">
                      <img src="{{ art.photo.url }}" alt="" height="80" width="80"></a> <!-- /.user-avatar -->
                    <h3 class="card-title text-truncate">
                      <a href="{% url 'edit_artist' pk=art.pk %}">{{ art.name }}</a>
                    </h3>
                  </div><!-- /.card-body -->
                </div><!-- /.card -->
              </div><!-- /.masonry-item -->
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}