{% extends 'base.html' %}
{% load static %}
{% block body %}
  <main class="app-main">
    <div class="wrapper">
      <div class="page">
        <div class="page-inner">
          <!-- .page-title-bar -->
          <header class="page-title-bar">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                  <a href="{% url 'artist_list' %}"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Listar Artistas</a>
                </li>
              </ol>
            </nav>
            <h1 class="page-title"> {% if 'crear' in request.path %} Agregar Artista {% else %} Editar Artista: {{ artist.name }}{% endif %} </h1>
          </header><!-- /.page-title-bar -->
          <!-- .page-section -->
          <div class="page-section">
            <div class="col-lg-12" style="padding-left: 0; padding-right: 0">
              <!-- .card -->
              <div class="card card-fluid">
                <h6 class="card-header"> Datos </h6><!-- .card-body -->
                <div class="card-body">
                  <!-- form -->
                  <form method="post"
                        action="{% if 'crear' in request.path %} {% url 'create_artist' %} {% else %} {% url 'edit_artist' pk=artist.pk %} {% endif %}"
                        enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- form row -->
                    <div class="form-row">
                      <!-- form column -->
                      <div class="col-md-4 mb-3">
                        <div class="media mb-3">
                          <!-- avatar -->
                          <div class="user-avatar user-avatar-xl fileinput-button">
                            <div class="fileinput-button-label"> Cambiar imagen </div>
                            <img id="avatar"
                                 src="{% if 'crear' in request.path %} {% static '/images/avatars/album_default.jpg' %} {% else %} {{ artist.photo.url }} {% endif %}"
                                 alt="">
                            <input id="fileupload-avatar" type="file" name="photo" onchange="readURL(this);">
                          </div><!-- /avatar -->
                          <!-- .media-body -->
                          <div class="media-body pl-3 justify-content-center" style="position: relative;margin-top: 5%;">
                            <h3 class="card-title"> Logo del artista / banda </h3>
                            <h6 class="card-subtitle text-muted"> Click para cambiar la imagen. </h6>
                            <div id="progress-avatar" class="progress progress-xs fade">
                              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div><!-- /avatar upload progress bar -->
                          </div><!-- /.media-body -->
                        </div>
                      </div><!-- /form column -->
                      <!-- form column -->
                      <div class="col-md-8 mb-3">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ artist.name }}" required="">
                      </div><!-- /form column -->
                    </div><!-- /form row -->
                    <hr>
                    <!-- .form-actions -->
                    <div class="form-actions">
                      <!-- enable submit btn when user type their current password -->
                      <button type="submit" class="btn btn-success">
                        <i class="fa-solid fa-check mr-2"></i>{% if 'crear' in request.path %} Agregar {% else %} Editar {% endif %}</button>
                    </div><!-- /.form-actions -->
                  </form><!-- /form -->
                </div><!-- /.card-body -->
              </div><!-- /.card -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
{% block extrajs %}
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        let reader = new FileReader();

        reader.onload = function (e) {
          $('#avatar').attr('src', e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
{% endblock %}